<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/header') %>
        <section class="section">
            <div class="container">
                <div class="section__title section__title_left">процессоры</div>
                <%- include('block/breadcrumbs') %>

                <div class="catalog">
                    <a href="#" class="catalog__item catalog__item_double">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-1.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Персональные компьютеры</div>
                            <div class="catalog__name">Apple Mac Pro Xeon W 3.5 ГГц </div>
                            <div class="catalog__price">410 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-2.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Портативные колонки</div>
                            <div class="catalog__name">JBL PULSE 3 Black </div>
                            <div class="catalog__price">9 490 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-12.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Смартфоны</div>
                            <div class="catalog__name">Samsung Galaxy S10 </div>
                            <div class="catalog__price">59 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-4.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Микрофоны</div>
                            <div class="catalog__name">Samson C01U Pro </div>
                            <div class="catalog__price">8 900 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-5.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Компьютерные мыши</div>
                            <div class="catalog__name">Razer DeathAdder Elite  </div>
                            <div class="catalog__price">5 490 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-6.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Наушники</div>
                            <div class="catalog__name">Sony MDR-Z7M2 </div>
                            <div class="catalog__price">54 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-7.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Мониторы</div>
                            <div class="catalog__name">Apple Pro Display XDR  </div>
                            <div class="catalog__price">370 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-8.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Смартфоны</div>
                            <div class="catalog__name">Apple iPhone XS Max </div>
                            <div class="catalog__price">49 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-9.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Пылесосы</div>
                            <div class="catalog__name">Беспроводной пылесос BORK V800 </div>
                            <div class="catalog__price">49 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-10.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Часы</div>
                            <div class="catalog__name">Apple Watch Series 5</div>
                            <div class="catalog__price">32 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-11.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Телевизоры</div>
                            <div class="catalog__name">Xiaomi Mi TV 4S 55</div>
                            <div class="catalog__price">35 590 ₽</div>
                        </div>
                    </a>
                </div>

                <%- include('block/page-number') %>
            </div>
        </section>
        <%- include('block/footer') %>
        <%- include('block/script') %>
    </body>
</html>
